.jumbotron{
	background-image: url("IMG_mainPage.jpg");
	background-size: 1300px 600px;
	height: 500px;
}

.jumbotron h1{
  color: #fff;
  font-size: 48px;
  font-weight: bold;
}

.jumbotron p {
  color:#fff;
  font-size: 20px;
}
.introdution {
  background-color: #f7f7f7;
}

.introdution .container{
  padding-top: 1cm;
}s
.introdution p{
  font-size: 18px;
  margin-top:15px;

}

.jumbotron .container{
  position: relative;
  top: 100px;
}
.jobDescription .container{
  margin-top: 20px;
}

.jobDescription .job{
  margin-top: 30px;
  background-color: #f7f7f7;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 70px;   
  padding-bottom: 40px; 
}


.jobDescription h4{
    font-style: italic;
    font: italic bold Georgia, serif;
  }

.jobDescription li{
  font-size: 17px;
}


