.navbar {
	margin-bottom: 0;
	position: 
}

.navbar {
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
}
 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      height: 420px;
  }

.form {
	margin-top: 200px;
}
#litterForm {
	padding-left: 200px;
	padding-right: 200px;
}