body, div, h1, h2, h3, h4, h5 {
	margin: 0; padding:0; border: 0;
}

body {
	text-align: center;
}

.header {
	width: 100%;
	z-index: 10; 
	position: fixed;
    background:  #FFCC00;
    padding: 1em;
}

.logo{
	float: left;
	color:#ffffff ;
	font-size: 15px;
    font-family: adelle,Georgia,Times,serif;
}
.nav{
	padding-right: 50px;
	float: right;

}
a{
	text-decoration: none;
	color: #fff;
}
li{
	list-style: none;
	float: left;
	font-size: 20px;
	margin-left: 5px;
	padding-top: 10px;
}


li{
    display: inline;
}


.slider.open{
	overflow-y: hidden;
	max-height: 500px;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-funtion: cubic-bezier()0,1,0.5,1);
}

.slider{
	max-height: 0;
}
#banner {
	background: url(background.jpg);
	background-size: cover;
	width: 100%;
	height: 650px;
	top: 560px;
}

.banner-title {
	padding-top: 220px;
}
#banner h1{
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-family: adelle,Georgia,Times,"Times New Roman",serif;
  -webkit-font-smoothing: antialiased;
  font-size: 3.4em;
  line-height: 1.125em;
}

#content {
	width: 100%;
	position: relative;
}

.breaking-line {
    border-bottom: 5px dotted  #FFCC00;
}
.intro{
 margin-top: 70px;
 margin-bottom: 70px;
}


.intro p{
    font-family: serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 70;s
	line-height: 24px;
}

.feed-item{
	margin-top: 6px;
	background-color:  #FFCC00;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
}
.feed-item h3{
   color: #545454;
   border-style: solid;
   border-bottom:  dotted #fff;
}

.feed-item p{
	font-size: 18px;
	text-align: left;
}

footer p{
  margin-top: 50px;
  text-align: center;
}

.feed-item span{
	float: right;
	font-size: 25px;
}

.dropdown-menu {
	background-color: #FFCC00;
}
